body{
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-family: sans-serif;
}
.side{
  position: absolute;
  /*Nữa màn hình*/
  top: 50%;
  /*Dịch chuyển theo trục Y*/
  transform: translateY(-50%);
}

.side a{
  background: #e74c3c;
  color: white;
  font-size: 22px;
  /*Đứng 1 hàng độc lập với thành phần trước và sau nó*/
  display: block;
  width: 130px;
  padding: 12px;
  text-decoration: none;
  margin: 8px;
  color: white;
  border-radius: 8px;
  margin-left: -100px;
  /*Thời gian delay*/
  transition: 0.6s all;
}
.side a:hover{
  margin-left: 0px;
}

.home:after{
  content:"";
  display:inline-block;
  width:30px;
  height:30px;
  background-image:url('img/home.png');
  background-size:30px 30px;
  background-repeat: no-repeat;
  margin-left: 40px;
}
.about:after{
  content:"";
  display:inline-block;
  width:30px;
  height:30px;
  background-image:url('img/about.png');
  background-size:30px 30px;
  background-repeat: no-repeat;
  margin-left: 40px;
}
.work:after{
  content:"";
  display:inline-block;
  width:30px;
  height:30px;
  background-image:url('img/work.png');
  background-size:30px 30px;
  background-repeat: no-repeat;
  margin-left: 45px;
}
.contact:after{
  content:"";
  display:inline-block;
  width:30px;
  height:30px;
  background-image:url('img/contact.png');
  background-size:30px 30px;
  background-repeat: no-repeat;
  margin-left: 20px;
}
